<h1 class="mb-3 text-center">Todo List of Smit</h1>
<!-- <ul *ngFor="let todo of todos">
    <li>
      {{ todo.sno }} - {{ todo.title }} - {{ todo.desc }} 
    </li>
  </ul> -->
<div class="container">
  <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
  <h4>Your Todos :</h4>

  <div *ngIf="this.todos.length === 0; else elseBlock">No Todos to display</div>
  <ng-template #elseBlock>
    <div *ngFor="let todo of todos">
      <app-todo-items
        [todo]="todo"
        (todoDelete)="deleteTodo($event)"
        (todoCheckbox)="checkboxTodo($event)"
      ></app-todo-items>
    </div>
  </ng-template>
</div>
